Language: Cpp  
AlignConsecutiveDeclarations: true
BasedOnStyle: Webkit
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  AfterUnion: true
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BinPackArguments: true 
BinPackParameters: true

# Number of characters allowed on a line. 0 means no limit
ColumnLimit: 0 

Cpp11BracedListStyle: false
FixNamespaceComments: true
NamespaceIndentation: All
SortIncludes: false